---
layout: skeleton
---
{% if site.home-splash %}
<div class="fixed-image-section">
  <div class="w-container">
    <h1 class="page-heading"><strong>{{ site.home-splash-heading }}</strong></h1>
    <div class="page-subheading">{{ site.home-splash-subheading }}</div>
  </div>
</div>
{% endif %}
{% if site.home-cta %}
<div class="cta-section centered-accented">
  <div class="w-container">
    <h2 class="cta-heading inline-block">{{ site.home-cta-text }}</h2>
    <a href="{{ site.home-cta-link }}" target="new" class="button white">{{ site.home-cta-link-text }}</a>
  </div>
</div>
{% endif %}
      <div class="section">
        <div class="w-container">
          <div class="section-title-group">
            <h2 class="section-heading centered">Blog Posts</h2>
          </div>
          {% for post in site.posts limit: 4%}
          {% case forloop.index %}
          {% when 1 %}
          <div class="w-row">
            <div class="w-col w-col-6">
              <div class="w-row">
                <div class="w-col w-col-4"><img src="{{ post.image | prepend: '/assets/documents/' | prepend: site.baseurl | prepend: site.url }}" width="100" alt="" class="grid-image"></div>
                <div class="w-col w-col-8">
                    <a href="{{ site.url | append: site.baseurl | append: post.url }}" title="Read {{ post.title }}"><h3>{{ post.title }}</h3></a>
                  {{ post.excerpt }}
                </div>
              </div>
            </div>
          {% when 2 %}
            <div class="w-col w-col-6">
              <div class="w-row">
                  <div class="w-col w-col-4"><img src="{{ post.image | prepend: '/assets/documents/' | prepend: site.baseurl | prepend: site.url }}" width="100" alt="" class="grid-image"></div>
                  <div class="w-col w-col-8">
                      <a href="{{ site.url | append: site.baseurl | append: post.url }}" title="Read {{ post.title }}"><h3>{{ post.title }}</h3></a>
                    {{ post.excerpt }}
                  </div>
              </div>
            </div>
          </div>
          {% when 3 %}
          <div class="w-row">
            <div class="w-col w-col-6">
              <div class="w-row">
                  <div class="w-col w-col-4"><img src="{{ post.image | prepend: '/assets/documents/' | prepend: site.baseurl | prepend: site.url }}" width="100" alt="" class="grid-image"></div>
                  <div class="w-col w-col-8">
                      <a href="{{ site.url | append: site.baseurl | append: post.url }}" title="Read {{ post.title }}"><h3>{{ post.title }}</h3></a>
                    {{ post.excerpt }}
                  </div>
              </div>
            </div>
          {% when 4 %}
            <div class="w-col w-col-6">
              <div class="w-row">
                  <div class="w-col w-col-4"><img src="{{ post.image | prepend: '/assets/documents/' | prepend: site.baseurl | prepend: site.url }}" width="100" alt="" class="grid-image"></div>
                  <div class="w-col w-col-8">
                      <a href="{{ site.url | append: site.baseurl | append: post.url }}" title="Read {{ post.title }}"><h3>{{ post.title }}</h3></a>
                    {{ post.excerpt }}
                  </div>
              </div>
            </div>
          </div>
          {% endcase %}
          {% endfor %}
        </div>
      </div>
